/*
    Authors: MJ Galbraith (100755993), Matthew Austin (100660651)
    File: app.css
    Date: 2022/02/09
    Description: 
        This is the base css file for the webd6201 lab01 website
*/
body {
    background-color: #696969;
    color: lime;
}